*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0; */
   
}

h1#h{
    text-align: center;
    color: rgb(0, 113, 128);
    margin: 250px 50px;
}
ul{
    list-style-type: none;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    float: left;
}
li a{
    display: block;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.active{
    background-color:rgb(0, 174, 255);
}
li a:hover:not(.active){
    background-color: gray;
}
.unorderedlist-background{
    background-color: #000000 !important;
}

#table,th,td{
    border: 1px solid #dddddd;
    width: 30%;
    /* margin: 0 auto; */
    margin: 90px 50px 100px 450px;
    padding: 10px;
    /* border-radius: 25px; */
    border-collapse: collapse;
}

td{
    text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }