 .background{
            background-image: url('../images/abc.jpeg') ;
            /* background-repeat: no-repeat; */
            width : 100%;
            height: 100%;
            background-size: cover;
 }

 #comingsoon{
     text-align: center;
     margin: 250px 50px;
     font-weight: bold;
     color : blue;
     font-size: xx-large;
}

 *{
    box-sizing : border-box;
    margin : 0;
    padding : 0;
}

.forAll{
    border : 1px solid lightgreen;
    overflow : auto;
    margin : 0 auto;
    width : 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.picture{
    float : left;
    width : 25%;
    height: 140px;
    margin-top: 10px;
    padding: 0px 10px 0 20px;
    overflow : auto;
}

.detailFloat{
    float: left;
    width: 75%;
    height: 140px;
    /* text-align: left; */
    padding-left: 10px;
    background-color: green;
    padding: 10px 0 0 20px;
    overflow : auto;
    margin-bottom: 10px;
    color: white;
}

.email{
    float: left;
    width: 25%;
    margin-top: 30px;
    overflow: auto;
    padding: 0px 10px 0 20px;
}

.work{
    float: left;
    width: 75%;
    margin-top: 0;
    overflow: auto;
    /* text-align: left; */
    padding:0 20px 0 20px;

}

#fontcolor{
    color: green;
    /* font-size: 10px; */
}

#underline{
    text-decoration: underline;
    line-height: 2;
}

.leftpadding{
            padding-left: 10px;
}

.linespacing{
    line-height: 2;
}


ol{
    list-style-type: circle ;  
}

.skill{
    border: 5px solid white;
    background-color: green;
    text-align: center;
    border-radius: 20px;
    color: white;
}

#p{
    line-height: 1.2;
}

hr.line{
    border: 1px solid lightgreen;
}

ul.lang{
    border: 1px solid lightgreen;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid green;
    padding : 10px;
}

.bold{
    font-weight: bold;
}

#button{
    background-color: black;
    border: none;
}
@media screen and (max-width : 992px;){
    
}  