.adiv{
    background-color: rgb(127, 180, 199);
    width: 30% ;
    padding: 20px;
    margin:75px auto 0 auto;
    border: 5px solid rgb(199, 105, 105);
    }

 #img{
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 40%;
    border:1px solid black;
 }
 .usrpsw{
    font-weight: bold;
     margin-left : -105px;
    /* text-align: center; */
    /* border:1px solid black; */
 }
 /* .reqs{
    margin-left: -10px;
 } */

 #p01{
    float: right;
    text-decoration: underline;
 }

 #myForm{
    /* border:1px solid black; */
    text-align: center;
 }

 #rememberMe{
    float: left;
 }

 #imageDiv{
    margin-bottom: 10px;
    text-align: center;
 }

 /* #forgotPasswordDiv{
   flex-direction: row; 
   /* justify-content: space-between; */
 
 
 
 