*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
   
}
.common{
   
    width : 70%;
    border : 1px solid black;
    /* height: 300px; */
    margin : 0 auto;
    overflow : auto;
    margin-top: 50px;;
    margin-bottom: 50px;
} 

/* .common:after {
    content: "";
    clear : left;
} */

.details{
    padding: 30px 10px 20px 20px;
     /* box-sizing: border-box; */
     width : 30%;
     float : left;
    height : 205px;
 /* display : inline-block; */
     background-color :rgb(0, 174, 255);
    /*  margin : 0 0 50px 0;
   padding : 10px; 
   display : inline-block; */
   overflow : auto;

}

.profsummary{
    width: 70%;
    float : left;
    padding: 30px 10px 50px 20px;
    /* display: inline-block; */
    height : 205px;
    background-color : lightgray;
    text-align: left;
    overflow : auto;
}
#center{
    text-align: left;
    padding: 30px 10px 50px 20px;
    overflow : auto;

    
}

#height{
    height: 192px;
    text-align: left;
    padding: 30px 10px 50px 20px;

}

#textmargin{
    text-align: left;
    overflow : auto;
}

.word{
    word-spacing: -1px;
}

#button{
    background-color: black;
    margin-left: 10px;
    
}

@media print {
    .pagebreak { page-break-before: always; }
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

































/* *{
    box-sizing : border-box;
}
.container{
    border :1px solid black;
    width : 50%;
    margin:75px auto 0 auto;
}

#float{
    float : left;
    width : 30%;
    margin: 0px 10px;
    background-color : lightblue;
    
    
}

.float1{
    float : right;
    margin-top : 60px;
    width : 65%;
    background-color : lightgray;
    height : 300px;
}
 */

